<h1>One of the kids tells Danny Tanner about their problem while he makes pancakes </h1>

<h3> Which kid is having the problem? </h3>

<a href = "/Stephanie">Stephanie</a>
<a href = "/DJ">DJ</a>
<a href = "/Michelle">Michelle</a>
