<h1> Full House Parents! </h1>

<h3> Which parent are going to follow? </h3>

<a href = "/Danny_Tanner">Danny Tanner</a>
<a href = "/Uncle_Joey">Uncle Joey</a>
<a href = "/Uncle_Jesse">Uncle Jesse</a>
